*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.img-post::before{
content: "";
width: 100vw;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
z-index:-2;
background: url(../../img/post.jpg)no-repeat center center/cover;
object-fit: cover;
object-position: center;

}
.img-post::after{
content: "";
width: 100vw;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100%;
z-index:-1;
background: linear-gradient(65deg, #ffffff00 33%, #fb9b0496 79%);

}